<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>219134283738-29a5bovpqfhmvbr0pe87rd4jof1fki6b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.219134283738-29a5bovpqfhmvbr0pe87rd4jof1fki6b</string>
	<key>API_KEY</key>
	<string>AIzaSyCLNNpUW7Wl3U9lz6jVX9pw4j0btoNlcmk</string>
	<key>GCM_SENDER_ID</key>
	<string>219134283738</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.application</string>
	<key>PROJECT_ID</key>
	<string>asessment-work-scheduler</string>
	<key>STORAGE_BUCKET</key>
	<string>asessment-work-scheduler.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:219134283738:ios:50cc40c621e00159f17ae3</string>
</dict>
</plist>
